{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {% for plan in learningPlan %}
            <div>
                <label>{{ plan.course }}</label>
                <input type="number" value="{{ plan.limitOnDay }}" class="plan-limit" />
            </div>
        {% endfor %}
    </div>
{% endblock %}