@import 'custom/list';
@import 'custom/card';
@import "custom/footer";
@import "custom/sidebar";
@import "custom/carousel";

html{
  max-height: 100%;
  font-size: 17px;
  height: 100%;
}

body{
  height: 100%;
}



