.grammar-sidebar{
  position: absolute;
  right: 0;
  top: 45px;
  width: 80px;
  height: 100%;
  align-items: center;
  display: flex;
  z-index: 2;
  .grammar-title, svg{
    position: absolute;
    transform: rotate(90deg);
  }
  svg{
    top: 30px;
    right: 25px;
  }
}